.block-cta {
  background-color:#232034;
  padding-top:6rem;
  padding-bottom: 6rem;
  h2,h3,p {
    color:white;
  }
  p {
    max-width: 600px;
    font-size:20px;
    margin-top:2rem;
    margin-bottom:2rem;
  }
}